.App
{
  @extend %full-size, %flex-center, %transition-colors;

  flex-direction: column;

  background: $colorBackground;

  overflow: hidden;

  header,
  footer
  {
    padding: 10px;
  }

  header
  {
    @include size( $sizeHeader... );

    @include flex-parent( $ai: center );
  }

  main
  {
    @extend %flex-center, %transition-colors;

    @include size( $sizeMain... );

    border: 5px solid $colorBorder;

    border-left: 0;
    border-right: 0;
  }

  footer
  {
    @include size( $sizeFooter... );

    @include flex-parent( $ai: center );
  }
}