.ThemeAuthor
{
  @extend %flex-center;

  @include size( auto, 100% );

  .Link
  {
    padding-left: 10px;
  }

  .Text
  {
    @extend %flex-center;

    @include size( auto, 100% );

    white-space: nowrap;
  }

  .Icon
  {
    @include size( auto, 100% );

    margin: 0 10px;
  }
}