.ThemeViewer
{
  @extend %flex-center;

  @include size( $sizeViewer... );

  padding: 25px;

  .ViewerWrapper
  {
    @extend %full-size, %flex-center, %transition-colors;

    max-width: 800px;
    padding: 10px;
    flex-direction: column;
    border: 2.5px solid $colorBorder;
  }

  .TitleViewer
  {
    @include size( 100%, 25% );
  }

  .TextViewer
  {
    @include size( 100%, calc( 75% - #{ $sizeModel } ) );

    @include scrollbar( 7.5px );

    text-align: justify;
    line-height: 2;
  }
}