@mixin size ( $w: null, $h: null )
{
  width: $w;
  height: $h;
}

@mixin box-size ( $s )
{
  width: $s;
  height: $s;
}

@mixin flex-parent (
  $d: null,
  $ai: null,
  $jc: null,
  $ac: null,
  $w: null,
)
{
  display: flex;
  flex-direction: $d;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
  flex-wrap: $w;
}