@mixin size ( $w: null, $h: null )
{
  width: $w;
  height: $h;
}

@mixin box-size ( $s )
{
  width: $s;
  height: $s;
}

@mixin flex-parent (
  $d: null,
  $ai: null,
  $jc: null,
  $ac: null,
  $w: null,
)
{
  display: flex;
  flex-direction: $d;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
  flex-wrap: $w;
}

@mixin scrollbar ( $size, $reversed: false )
{
  $space: 3 * $size;
  $twice: 2 * $size;

  @include size(
    calc( 100% - #{ $size } ),
    calc( 100% - 2 * #{ $space } ),
  );

  @include flex-parent( $w: wrap );

  padding: 0 $size 0 $space;

  overflow-x: hidden;
  overflow-y: scroll;

  scroll-behavior: smooth;

  // Mozilla Firefox
  scrollbar-color: $colorColor $colorBackground;
  scrollbar-width: thin;

  // Reversed logic
  @if $reversed == true
  {
    margin: $space 0 $space $size;

    transform: scale3d( -1, 1, 1 );
  }
  @else
  {
    margin: $space $size $space 0;
  }

  > *:not( :last-child )
  {
    margin-bottom: $space;
  }

  // Scrollbar
  &::-webkit-scrollbar
  {
    @include size( $size );
  }

  // Track
  &::-webkit-scrollbar-track
  {
    color: $colorColor;
    background-color: $colorBackground;
  }

  // Handle
  &::-webkit-scrollbar-thumb
  {
    color: $colorColor;
    background-color: $colorColor;
    border-radius: $space;
  }

  // Rules for devices with mouse here
  @media ( pointer: fine )
  {
    // Mozilla Firefox
    scrollbar-color: $colorBackground $colorBackground;

    // Track
    &::-webkit-scrollbar-track
    {
      color: $colorColor;
      background-color: $colorBackground;
    }

    // Handle
    &::-webkit-scrollbar-thumb
    {
      color: $colorColor;
      background-color: $colorBackground;
    }

    &:hover
    {
      // Mozilla Firefox
      scrollbar-color: $colorColor $colorBackground;

      // Handle
      &::-webkit-scrollbar-thumb
      {
        background-color: $colorColor;

        &:hover
        {
          background-color: $colorHover
        }
      }
    }
  }
}

@mixin fluid ( $props, $min-vw, $max-vw, $min-val, $max-val )
{
  $val: $max-val - $min-val;
  $vw: $max-vw - $min-vw;

  @each $prop in $props { #{ $prop }: $min-val }

  @media ( min-width: $min-vw )
  {
    @each $prop in $props
    {
      #{ $prop }: calc( #{ $min-val } + #{ $val } * ( 100vw - #{ $min-vw } ) / #{ $vw } )
    }
  }

  @media ( min-width: $max-vw )
  {
    @each $prop in $props { #{ $prop }: $max-val }
  }
}