$transitionDuration: .35s;
$transitionEasing: ease-in-out;

$colorBackground: var( --color-background );
$colorBorder: var( --color-border );
$colorColor: var( --color-color );
$colorHover: var( --color-hover );

$colors: ( background, border, color, hover );

$sizeSelection: ( 100px, 100% );
$sizeViewer: ( calc( 100% - #{ nth( $sizeSelection, 1 ) } ), 100% );
$sizeModel: 150px;

$sizeHeader: ( 100%, 80px );
$sizeFooter: ( 100%, 60px );
$sizeMain: ( 100%, calc( 100% - #{ nth( $sizeHeader, 2 ) } - #{ nth( $sizeFooter, 2 ) } ) );
